PyMuPDF==1.22.3
requests==2.31.0
tiktoken==0.4.0
tenacity==8.2.2
pybase64==1.2.3
Pillow==9.4.0
openai==0.27.8
markdown==3.6
jieba==0.42.1
gradio==3.20.1
bs4==0.0.1
urllib3==1.25.11
sphinx-markdown-tables==0.0.17
sphinxemoji==0.3.1
recommonmark==0.7.1
sphinx-book-theme==1.1.2
fastapi==0.110.1
uvicorn==0.29.0
pydantic==2.6.4
sqlalchemy==2.0.29
python-jose==3.3.0
python-dotenv==1.0.1
arxiv==1.4.3